@import url('https://fonts.googleapis.com/css2?family=Prompt&family=Ubuntu&display=swap');
.navbar-nav{
    margin-left: auto;

}
.nav-link{
    margin: 10px;
    font-family: 'Ubuntu', sans-serif;

}
.navbar{
    background-color: rgb(170, 200, 88)!important;
    box-shadow: 0 2px 2px -2px black;
}